@import url('http://fonts.cdnfonts.com/css/dinpro-regular');
* {
    font-family: 'DINPro-Regular', sans-serif;
}

.slide-home {
    transition: all 0.5s;
    .img-slide {
        position: absolute;
        opacity: 1;
        transition: opacity 0.3s;
    }
    .btn-slide {
        li {
            position: relative;
            width: 40px;
            height: 3px;
            background-color: silver;
            margin-right: 1%;
            left: 44%;
            margin-top: 33%;
            cursor: pointer;
            &:hover {
                background-color: red;
            }
        }
    }
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    color: black;
    transition: all 0.8s;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
}

.searchbar:hover>.search_input {
    width: 70%;
    caret-color: red;
    transition: width 0.8s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #8a8a8a;
    text-decoration: none;
    font-size: 23px;
}

.z {
    background-color: #222222;
    .z2 {
        position: relative;
        opacity: 0.6;
        transition: all .5s;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .img-1 {}
    .text-img {
        width: 95%;
        position: absolute;
        color: white;
        top: 5%;
    }
}

.z3 {
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: all .5s;
    &:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
        .service-head {
            color: white;
            img {
                filter: invert(100%);
            }
        }
    }
    .service-head {
        margin: auto;
        img {
            width: 20%;
        }
        position: absolute;
    }
}