@import url('http://fonts.cdnfonts.com/css/dinpro-regular');
* {
    font-family: 'DINPro-Regular', sans-serif;
}

.slide-home {
    transition: all 0.5s;
    .img-slide {
        position: absolute;
        opacity: 1;
        transition: opacity 0.5s;
    }
    .btn-slide {
        li {
            position: relative;
            width: 40px;
            height: 2px;
            background-color: silver;
            margin-right: 1%;
            margin-top: 33%;
            cursor: pointer;
            left: 50%;
            transform: translateX(-170%);
            &:hover {
                background-color: red;
            }
        }
    }
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    color: black;
    transition: all 0.8s;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
}

.searchbar:hover>.search_input {
    width: 70%;
    caret-color: red;
    transition: width 0.8s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #8a8a8a;
    text-decoration: none;
    font-size: 23px;
}

.z {
    background-color: #222222;
    .z2 {
        position: relative;
        opacity: 0.6;
        transition: all .5s;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .text-img {
        width: 95%;
        position: absolute;
        color: white;
        top: 5%;
    }
}

.z3 {
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: all .5s;
    position: relative;
    &:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
        .service-head {
            color: white;
            img {
                filter: invert(100%);
            }
        }
    }
    .service-head {
        opacity: 1 !important;
        filter: alpha(opacity=100);
        font-weight: 300;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 20%;
            object-fit: cover;
        }
    }
}

.slide {
    width: 100vw;
    transition: 1s;
    .sliders {
        overflow: hidden;
        .imgslider {
            transition: all .5s;
            padding: 0;
            width: 100%;
            // overflow: hidden;
        }
        input {
            display: none;
        }
    }
    .slider-manual {
        width: 100%;
        position: absolute;
        margin-top: -40px;
        .manual-btn {
            border: none;
            padding: 1px 20px;
            cursor: pointer;
            transition: 1s;
            background-color: #fff;
            &:not(:last-child) {
                margin-right: 10px
            }
            &:hover {
                background-color: red;
            }
        }
    }
    #radio1:checked~.first {
        margin-left: 0%;
    }
    #radio2:checked~.first {
        margin-left: -100%;
    }
    #radio3:checked~.first {
        margin-left: -200%;
    }
    #radio4:checked~.first {
        margin-left: -300%;
    }
    #radio5:checked~.first {
        margin-left: -400%;
    }
    #radio6:checked~.first {
        margin-left: -500%;
    }
    .slider-auto {
        width: 100%;
        margin-top: -40px;
        position: absolute;
        div {
            border: none;
            padding: 2px 20px;
            cursor: pointer;
            transition: 1s;
            &:not(:last-child) {
                margin-right: 10px
            }
        }
    }
    #radio1:checked~.auto-btn1 {
        background: red;
    }
    #radio2:checked~.auto-btn2 {
        background: red;
    }
    #radio3:checked~.auto-btn3 {
        background: red;
    }
    #radio4:checked~.auto-btn4 {
        background: red;
    }
    #radio5:checked~.auto-btn5 {
        background: red;
    }
    #radio6:checked~.auto-btn6 {
        background: red;
    }
}

.expProduct {
    margin: 0 auto;
    width: 80%;
    .col-node {
        text-align: center;
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
}

.product-banner {
    background-color: #010103;
}

#triangle-bottomleft {
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 70px solid #000025;
    border-right: 70px solid transparent;
}

.activity {
    position: fixed !important;
    right: -100px;
    bottom: 30px;
    z-index: 10;
    animation: updown 2.5s linear infinite;
    cursor: pointer;
}

@keyframes updown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
}

#icon {
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 4;
    fill: #000025;
}

.bg-login {
    background-image: url(https://cutewallpaper.org/21/msi-phone-wallpaper/Msi-Wallpaper-32-images-on-Genchi.info.jpg);
    background-size: cover;
    height: 900px;
}

.display-block {
    display: block;
}

.name-acc {
    color: rgb(110, 110, 110);
}

.product {
    font-family: DINPro-Regular;
    .card {
        border: none;
    }
    .btn {
        border-radius: 20px;
        background-color: red;
        color: white;
    }
    li,
    a, h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        cursor: pointer;
    }
}

.counter {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: white;
    color: black;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: black;
    user-select: none;
}

.product-cart{
    width: 500px;
    .info-cart{
        width: 100%;
    }
}

.able-info{
    table{
        tr{
            padding: 20px;
        }
    }
<<<<<<< HEAD
=======
}

.pagination{
    a{
        color:black;
        &:hover{
            color:red
        }
    }
    .page-link{
        color:black;
        &:hover{
            color:red
        }
    }
>>>>>>> a1283ad3b7c6e6d0f33fbcbea1428357d767fad9
}