@import url("http://fonts.cdnfonts.com/css/dinpro-regular");
* {
  font-family: 'DINPro-Regular', sans-serif;
}

.slide-home {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-home .img-slide {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slide-home .btn-slide li {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: silver;
  margin-right: 1%;
  margin-top: 33%;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
}

.slide-home .btn-slide li:hover {
  background-color: red;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px;
  color: black;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
}

.searchbar:hover > .search_input {
  width: 70%;
  caret-color: red;
  -webkit-transition: width 0.8s linear;
  transition: width 0.8s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #8a8a8a;
  text-decoration: none;
  font-size: 23px;
}

.z {
  background-color: #222222;
}

.z .z2 {
  position: relative;
  opacity: 0.6;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.z .z2:hover {
  opacity: 1;
}

.z .text-img {
  width: 95%;
  position: absolute;
  color: white;
  top: 5%;
}

.z3 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

.z3:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.z3:hover .service-head {
  color: white;
}

.z3:hover .service-head img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.z3 .service-head {
  opacity: 1 !important;
  filter: alpha(opacity=100);
  font-weight: 300;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.z3 .service-head img {
  width: 20%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

footer {
  -ms-flex-line-pack: center;
      align-content: center;
}

footer h5 {
  font-weight: 500;
  padding-bottom: 1rem;
}

footer h5 a {
  color: black;
}

footer a {
  text-decoration: none;
  color: #666;
}

footer a:hover {
  color: black;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
}

footer .container-footer {
  max-width: 80%;
  margin: 0 auto;
}

footer .nav-shortcut {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .nav-shortcut li,
footer .nav-shortcut h5 {
  padding-bottom: 1rem;
}

footer .nav-infor {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .nav-infor li {
  font-size: smaller;
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */